@import "./variables";
@import "@material/elevation/mdc-elevation";
@import "@material/button/mdc-button";

html, body {
  height: 100%;
}

body {
  font-family: 'Nova Flat', cursive;
  margin: 0;
  padding-top: 0.1px; // Prevent header h1 margin from pushing body down
}
h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}

.title-button {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  border:1px solid #000;
  border-radius: 20px;
  margin: 0px 4px 0px 4px;

  a {
    display: inline-flex;
    flex-direction: row;
    text-decoration: none;
    color: $mdc-theme-on-surface;
  }

  img {
    height: 50px;
    border-radius: 0px 20px 20px 0px;
  }

  h4 {
    margin: 5px 5px 0px 20px;
  }
}


#buy-the-book {
  @include mdc-elevation(4);
  z-index: 0; // Elevate over the drawer
  max-width: 1480px;
  margin: 16px;
  padding: 16px;

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
  }
}

.lettura-gratuita {
  a{
    &:hover{
      color:#54be0c;
    }
    color: #f0c8ee;
  }
}

.mdc-drawer-app-content {
  width: 100%;
}

.footer-button-buy{
  display: inline-flex;
  flex-direction: row;
  background-color: beige;
  margin-top: 16px;
  width: 100%;
  color: black;
  a {
    &:hover{
      color:blue;
    }
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    color: black;
    padding: 10px 10px 10px 20px;
    img{
      height: 10vh;
      margin-left: auto;

    }
    h3 {
      margin-right: 16px;
    }
  }
}

.main-content {
  margin-top: 80px;
}

#scttBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #556974; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 14px; /* Increase font size */

  &:hover {
    background-color: #3b0404; /* Add a dark-grey background on hover */
  }
}

.nav-button {
  @include mdc-button-container-fill-color($nav-color-button);
  margin: 16px;
  a {
    text-decoration: none;
    color: $mdc-theme-on-surface;
  }
}

.contact-author {
  margin: 16px;
  padding: 0px;
  button {
    @include mdc-button-container-fill-color($social-button);
    a {
      font-size: 1.5em;
    }
  }
}

#social-menu {
  a {
    padding: 0px 8px 0px 8px;
    text-decoration: none;
    color: $mdc-theme-on-surface;
    font-size: 1.5em;
  }
}

@media (min-width: 425px) {
  .title-button {
    h4 {
      margin: 15px 5px 0px 20px;
    }
  }
}

@media (min-width: 1024px) {
  .main-content {
    width: 85%;
  }

  #buy-the-book {
    width: 84%;
  }
}