$mdc-theme-primary: #556974;
$mdc-theme-on-primary: #000;
$mdc-theme-secondary: #c51162;
$mdc-theme-on-secondary: #ffffff;
$mdc-theme-surface: #33333D;
$mdc-theme-on-surface: #FFFFFF;
// $mdc-theme-background: #69e2ff;
// $mdc-theme-on-background: #000;
$mdc-theme-background: #33333D;
$mdc-theme-on-background: #FFFFFF;
$nav-color-button:#115fdd;
$social-button: #556974;