@import "./common";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/image-list/mdc-image-list";
@import "@material/ripple/mixins";
@import "@material/typography/mdc-typography";
@import "@material/top-app-bar/mdc-top-app-bar";

.home {
  display: flex; // Flexbox is used to easily arrange the persistent drawer and content side-by-side
  background-color: $mdc-theme-background;
  color: $mdc-theme-on-background;
}

.shrine-logo-drawer {
  display: block;
  width: 48px;
  padding: 40px 0 0;
  margin: 0 auto;
  fill: currentColor;
}

.shrine-title {
  @include mdc-typography(headline6);
  text-align: center;
  margin: 5px auto;
}

.product-list {
  @include mdc-image-list-standard-columns(4);

  overflow: auto;
}

.hero {
  h2 {
    color: #9e0000;
    text-shadow: 1px 1px #be947b;
  }
}
.title1 {
  margin-left: 45vw;
}
.title2 {
  margin-right: 45vw;
}




.shrine-body {
  @include mdc-elevation(4);

  z-index: 0; // Elevate over the drawer
  max-width: 1480px;
  margin: 16px;
  padding: 16px;
  flex-direction: column;
  img {
    height: 30vh;
    width: auto;
    border-radius: 10px;
  }
}

.shrine-body-image {
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.shrine-drawer {
  @include mdc-drawer-fill-color-accessible(surface);
  @include mdc-drawer-z-index(0);

  text-transform: uppercase;
  border-right-width: 0;

}

.footer-button-buy {
  @include mdc-elevation(3);
}

.buy-the-book {
  @include mdc-elevation(4);
  z-index: 0;
}


.hero {
  background-image: url("/assets/yes-logo.jpg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  height: 20vw;
}

@media (max-width:424px) {
  .hero {
    height: 60vw;
    h2 {
      font-size: 1em;
    }
  }
}

@media (min-width:968px) {
  .hero {
    height: 90vw;
    h2 {
      font-size: 2em;
    }
  }
}